@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 270 33% 88%;
        --foreground: 270 50% 10%;

        --card: 270 50% 88%;
        --card-foreground: 270 50% 10%;

        --popover: 270 50% 98%;
        --popover-foreground: 270 50% 10%;

        --primary: 270 70% 50%;
        --primary-foreground: 0 0% 100%;

        --secondary: 270 30% 90%;
        --secondary-foreground: 270 50% 10%;

        --muted: 270 20% 90%;
        --muted-foreground: 270 10% 45%;

        --accent: 270 40% 85%;
        --accent-foreground: 270 50% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 100%;

        --border: 270 20% 50%;
        --input: 270 20% 0%;
        --ring: 270 70% 50%;

        --radius: 0.5rem;

        --sidebar-background: 270 25% 85%;

        --sidebar-foreground: 270 40% 20%;

        --sidebar-primary: 270 70% 40%;

        --sidebar-primary-foreground: 0 0% 98%;

        --sidebar-accent: 270 30% 85%;

        --sidebar-accent-foreground: 270 70% 15%;

        --sidebar-border: 270 20% 60%;

        --sidebar-ring: 270 70% 50%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
